
@{
    ViewBag.Title = "CARGA DE ARCHIVO";
}

    <h2>CARGA DE ARCHIVO</h2>

<div class="jumbotron">
    <h2 class="display-3"> PROYECTO MICRO SQL: Carga de diccionario</h2>
    <h4 class="display-3"> Si usted desea personalizarlo, cargue su archivo</h4>
    <p class="lead">
        @using (Html.BeginForm("Carga", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <p>SUBE EL ARCHIVO </p>
        <input type="file" name="file" />
        <hr />
        <input type="submit" value="Subir" class="btn btn-outline-success" />
    }
        <h6>@ViewBag.Msg</h6>
    </div>



