
@{
    ViewBag.Title = "MostrarListaEscogida";
}

<h2>MostrarListaEscogida</h2>

<table class="table">
    <tr>
        <th>Opciones</th>
    </tr>


    <tr class="table-dark">
        <td>
            @Html.ActionLink("Archivos Comprimidos", "MostrarListaEscogida", new { lista = 1 })
        </td>
        <td>
            @Html.ActionLink("Archivos Descomprimidos", "MostrarListaEscogida", new { lista = 2 })
        </td>
    </tr>


</table>